.container {
  width: 100%;
  display: flex;
  justify-content: center;
  // position: absolute;
  // height: max-content;
  // z-index: 5;
  // margin: 0 auto;
  // padding-top: 50px !important;
  background-color:var(--cor_terciario);
  padding: var(--gap_mobile);
  // padding: 50px;x
}

@media (min-width: 800px) {
  .container {
    // padding: var(--padding_tablet);
  }
}

@media (min-width: 1000px) {
  .container {
    // padding: var(--padding_desktop);
  }
}

.container > .menu_box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  margin: 0 auto;
  opacity: 0.9;
  width: 100%;
}

.container > .menu_box > .coat_of_arms {
  max-height: 40px;
}

@media (min-width: 800px) {
  .container > .menu_box > .coat_of_arms {
    max-height: 100px;
  }
}

@media (min-width: 1000px) {
  .container > .menu_box > .coat_of_arms {
    max-height: 80px;
  }
}