.container_cover_slides {
}

.backgroundOpacity {
  width: 100%;
  height: 100vh;
  background-color: var(--color_belvedere);
  opacity: 0.4;
  position: absolute;
  z-index: 2;
}

.cover_slides {
  height: 100%;
}

.slide_content {
  font-size: 18px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  background-repeat: no-repeat;
  background-position: right;
  background-size: cover;
  width: 100%;
  height: 100%;
}

.box_titles {
  display: grid;
  text-align: left;
  position: relative;
  padding: var(--padding_mobile);
  margin-bottom: var(--gap_mobile);
  font-family: 'Gotham', sans-serif;
  color: white;
}

@media (min-width: 800px) {
  .box_titles {
    padding: var(--padding_tablet);
    margin-bottom: var(--gap_tablet);
  }
}

@media (min-width: 1000px) {
  .box_titles {
    margin-bottom: var(--gap_desktop);
    padding: var(--padding_desktop);
  }
}

.pre_title {
  font-weight: 600;
  font-size: 16px;
  text-transform: uppercase;
}

@media (min-width: 800px) {
  .pre_title {
    letter-spacing: 25px;
  }
}

.principal_title {
  font-weight: 800;
  font-size: 40px;
}

@media (min-width: 800px) {
  .principal_title {
    font-size: 58px;
  }
}

@media (min-width: 1000px) {
  .principal_title {
    font-size: 58px;
    font-size: 90px;
  }
}

.pos_title {
  font-weight: normal;
  text-transform: uppercase;

  font-size: 20px;
}

@media (min-width: 800px) {
  .pos_title {
    font-size: 21px;
    letter-spacing: 5px;
  }
}
