.container {
  display: flex;
  flex-direction: column;
  gap: var(--gap_mobile);
}

@media (min-width: 800px) {
  .container {
    gap: var(--gap_tablet);
  }
}

@media (min-width: 1000px) {
  .container {
    gap: var(--gap_desktop);
  }
}

.history_box {
  width: 100%;
  margin: 0 auto;
  font-size: 16px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: center;
}
.text_box {
  font-size: 16px;
  width: 100%;
  text-align: center;
  padding: var(--padding_mobile);
}

@media (min-width: 800px) {
  .text_box {
    padding: var(--padding_tablet);
  }
}
@media (min-width: 1060px) {
  .text_box {
    padding: 0;
  }
}

.text_box > h3 {
  font-size: 32px;
  color: #9e1619;
}

.text_box > div > p {
  margin-top: 50px;
  font-size: 16px;
}
