.container {
  width: 100%;
  gap: var(--gap_mobile);
  display: flex;
  flex-wrap: wrap;
}

@media (min-width: 800px) {
  .container {
    gap: var(--gap_tablet);
  }
}

@media (min-width: 1000px) {
  .container {
    gap: var(--gap_desktop);
  }
}

.content {
  width: 100%;
}

@media (min-width: 500px) {
  .content {
    width: 45%;
  }
}

.content > h5 {
  color: #fc9a5d;
  font-size: 18px;
  text-transform: uppercase;
  margin: 30px 0 20px;
}

.content > p {
  word-wrap: break-word;
  font-size: 16px;
}

.link {
  display: block;
  color: initial;
  width: 100%;
  font-size: 18px;
  text-transform: uppercase;
}

.link > .img {
  width: 100%;
  padding-bottom: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
