.slide_content {
  display: flex;
  height: max-content;
  flex-direction: column;
  gap: 10px;
  height: 100%;
  background-color:var(--cor_terciario);
}

@media (min-width: 650px) {
  .content_slide_box {
    width: 250px;
    max-width: 250px;
  }
}

@media (min-width: 768px) {
  .content_slide_box {
    width: 200px;
    max-width: 200px;
  }
}

.img {
  width: 100%;
  height: 300px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media (min-width: 650px) {
  .img {
    height: 250px;
  }
}

@media (min-width: 768px) {
  .img {
    height: 200px;
  }
}

.text_box {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  word-wrap: break-word;
  text-align: left;
}

.text_box > h3 {
  text-align: left;
  color:var(--cor_secundaria);
}

.text_box > p {
  text-align: left;
}

// ===================slide dois==========================

.SlideTwo_content {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
  max-height: 500px;
  width: auto;
  max-width: 100%;
  display: block;
  margin: 0 auto;
}

.img_slide {
  height: 80vh;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.link_three_slide {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content:flex-end;
  align-items: center;
  color:var(--cor_branca);
  padding: var(--gap_tablet) 10px;
  text-transform: uppercase;
  
}

@media (min-width: 800px) {
  .link_three_slide {
    padding: var(--gap_tablet) var(--gap_mobile);
  }
}

.link_three_slide:hover {
  background: linear-gradient(0deg, var(--cor_primaria) 0%, rgba(255, 255, 255, 0) 35%);
}

.link_three_slide h3 {
  font-size: 19px;
  font-weight: 400px;
}
.link_three_slide p {
  font-size: 16px;
}

.link_three_slide_text {
  text-align: left;
  width: 100%;
}
