.main {
  width: 100%;
}

.header_box {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.slide_box {
  width: 100%;
}

.filter {
  background-color: #fff;
  border-radius: 8px;
  height: 40px;
  width: 250px;
}
